nav{
    height: 100;
    width: 300;
    text-align: center;


}



div{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
}


a{
   font-size: small;
   text-decoration: none;
}



